/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
     /* #DCC9B6 */
}

.container{
    width: 100%;
    margin: auto;
    overflow: visible;
}

header{
    position: sticky;
    color: burlywood;
    padding-top: 20px;
    min-height: 8vh;
    background-color: #747C92;
    border-bottom: rgb(156, 23, 23) 3px solid;
    overflow: hidden;
}


#showcase{
    min-height: 550px;
    text-align: center;
    background-color: #9db9cf;
}

footer{
    left: 0;
    bottom: 0;
    height: 18%;
    width: 100%;
    padding: 2vh;
    text-align: center;
    color: darkgrey;
    background-color: rgb(116, 61, 69);
    border-top: rgb(110, 132, 202) solid 3px;
}

/* header*/
header a{
    color: burlywood;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

header #bar{
    float: left;

}

header #bar h1{
    margin:0;
    display: inline;
}


header .highlight, header .current a{
    color: rgb(165, 43, 43);
    font-weight: bolder;
}




/* showcase */
#showcase h1{
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase button{
    font-size: 20px;
    border: none;
    border-radius: 8px;
    width: 30%;
    margin-right: 10px;
    cursor: pointer;
 }


#showcase .container{
    padding: 50px;
}




  /*  media screen*/

  @media screen and (max-width: 450px){
      header h2{
      font-size: 40px;
      font-weight: bolder;
      }
  
      #showcase{
      top: 0;
      right: 0;
      padding-bottom: 20vh;
      }
      
      #showcase button{
          width: 50%;
          display: block;
          margin: 0 33% 15px 33%
          
      }
  }
  
  
  @media screen and (max-width: 728px){
      header h1{
          font-size: 15px;
      }
  
  }
  
  @media screen and (max-width: 935px){
      header h1{
          font-size: 20px;
      }
  
    }
  